body{
    align-content: center;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.content
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}